{% extends 'news.html' %}
{% block news_menu %}
<div id="news_menu_container">
    <div class="news_menu_item">
        <a href="{% url 'news' %}">
            latest
        </a>
    </div>
</div>
{% endblock %}
{% block news_body %}

{% regroup archive|dictsortreversed:"date.year" by date.year as year_list %}

{% for year in year_list %}

<h2>
    {{ year.grouper }}
</h2>
{% for item in year.list %}
    <p>
        {{ item.date|date:"d M" }},
        <a href="{% url 'specific_post' item.post.slug %}">
            {{ item.post }}
        </a>
    </p>
{% endfor %}


{% endfor %}


{% endblock %}