{% extends 'pages_template.html' %}
<!-- blocks to fill: main_content -->
{% block main_content %}
{% block news_body %}
{% if post %}
    <h1>
        {{ post.title }}
    </h1>
    <p>
        {{ post.date|date:"d.m.Y" }}
    </p>
    <p>
        {{ post.text }}
    </p>
    {% if images %}
        <div class="picture_container">
        {% if images|length > 1 %}
            {% for image in images %}
                <a href="{{ MEDIA_URL }}{{ image.img.url }}">
                    <img class="thumbnail" src="{{ MEDIA_URL }}{{ image.img.url }}" alt="{{ image.name }}" />
                </a>
            {% endfor %}
        {% else %}
            <a href="{{ MEDIA_URL }}{{ images.img.url }}">
                <img class="preview" src="{{ MEDIA_URL }}{{ images.img.url }}" alt="{{ image.name }}"/>
            </a>
        {% endif %}
        </div>
    {% endif %}
    {% if older_posts %}
        <h2>
            recent news
        </h2>
        {% for post in older_posts %}
            <p class="centered_p"><a href="{% url 'specific_post' post.slug %}">{{ post.title }}</a> -
            {{ post.date|date:"d.m.Y" }}</p>
        {% endfor %}
    {% endif %}
    <h2>
        <a href="{% url 'archive' %}">news archive</a>
    </h2>
{% else %}
<h2>
    Nothing to see...
</h2>
{% endif %}
{% endblock %}
{% endblock %}