{% extends 'pages_template.html' %}
<!-- blocks to fill: main_content -->
{% block content %}
{% block news_menu %}
<div id="news_menu_container">
    <div class="news_menu_item">
        <a href="{% url 'archive' %}">
            archive
        </a>
    </div>

</div>
{% endblock %}
{% block news_body %}
{% if post %}
    <h1>
        {{ post.title }}
    </h1>
    <p>
        Published {{ post.date|date:"d.m.Y" }} by Niels
    </p>
    <p>
        {{ post.text }}
    </p>
    {% if images %}
        <div class="picture_container">
        {% if images|length > 1 %}
            {% for image in images %}
                <a href="{{ image.img.url }}">
                    <img class="thumbnail" src="{{ image.img.url }}" alt="{{ image.name }}" />
                </a>
            {% endfor %}
        {% else %}
            <a href="{{ images.img.url }}">
                <img class="preview" src="{{ images.img.url }}" alt="{{ image.name }}"/>
            </a>
        {% endif %}
        </div>
    {% endif %}
{% endif %}
{% endblock %}
{% endblock %}