{% extends 'news.html' %}
{% block news_body %}
<h2>
    {{ post.title }} - {{ post.date|date:"d.m.Y" }}
</h2>
<p>
    {{ post.text }}
</p>
{% if images %}
    <div class="picture_container">
    {% if images|length > 1 %}
        {% for image in images %}
            <a href="{{ MEDIA_URL }}{{ image.img.url }}">
                <img class="thumbnail" src="{{ MEDIA_URL }}{{ image.img.url }}" alt="{{ image.name }}" />
            </a>
        {% endfor %}
    {% else %}
        <a href="{{ MEDIA_URL }}{{ images.img.url }}">
            <img class="preview" src="{{ MEDIA_URL }}{{ images.img.url }}" alt="{{ image.name }}"/>
        </a>
    {% endif %}
    </div>
{% endif %}
{% endblock %}