{% extends 'news.html' %}
{% block news_body %}
<h2>
    {{ post.title }} - {{ post.date|date:"d.m.Y" }}
</h2>
<p>
    {{ post.text }}
</p>
{% if images %}
        <div class="picture_container">
        {% if images|length > 1 %}
            {% for image in images %}
                <a href="{{ image.img.url }}">
                    <img class="thumbnail" src="{{ image.img.url }}" alt="{{ image.name }}" />
                </a>
            {% endfor %}
        {% else %}
            {% for image in images %}
                <a href="{{ image.img.url }}">
                    <img class="preview" src="{{ image.img.url }}" alt="{{ image.name }}" />
                </a>
            {% endfor %}
        {% endif %}
        </div>
    {% endif %}
{% endblock %}