{% extends 'base.html' %}
{% block content %}
<h1>
    Log in:
</h1>

{% if user.is_authenticated %}
<p>
    You are logged in as: '{{ user }}'. Click <a href="{% url 'logout' %}">here if this is not you.</a>
</p>
{% else %}

    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <p>{{ form.username.label_tag }} {{ form.username }}</p>
        <p>{{ form.password.label_tag }} {{ form.password }}</p>
        <input type="submit" value="Log in" />
    </form>

    <p>
        Or create a new user <a href="{% url 'create_user' %}">here</a>.
    </p>

{% endif %}

{% endblock %}