{% extends 'pages_template.html' %}
{% block content %}
<h1>about</h1>
<p>My name is Niels and I'm a university student at the IT-University of
    Copenhagen where I study Software Development and Technology and expect to finish my
    master degree June 2016, with the specialisation
    <a href="http://www.itu.dk/Uddannelser/Kandidatuddannelser/Softwareudvikling#Specialiseringer">
        'Business Analytics'</a>.</p>
<p>During my education I've been exposed to a number of concepts within computer science. I have taken
    courses in discrete mathematics, algorithms and data structures, and data mining. See a
    complete list of courses I've taken <a href="#courses">further down</a>.
    During the next semester I will be taking courses on Big Data Management and Scala, among others.
</p>
<p>
    I have a bachelor degree in Business, Asian Language and Culture from Copenhagen Business School,
    where I studied Japanese and Japanese culture in particular.
    My bachelor project was written for a freight forwarding company in which we interviewed eployees
    and examined the relations with the asian affiliations.
    I focused on agency theory, which I still find very
    interesting and believe can be applied to many aspects of life.
</p>
<p>
    I decided to persue a masters in software development because I have always been interested in
    computer programming, and have an interest in combining the fields of business and information technology.
    In the future, I would like to see myself become a connecting element between the two, which
    I think is vital for any modern business wanting to succeed. By following the business analytics
    specialisation I ensure a silver lining throughout my university education where I can
    combine the two areas.
</p>
<h2 id="courses">
    List of courses I have taken at the IT-University of Copenhagen:
</h2>
<ul class="about_ul">
    <li class="about_li">
        Introductory Programming (Fall 2014)
    </li>
    <li class="about_li">
        Programming Workshop (Fall 2014)
    </li>
    <li class="about_li">
        Foundations of Computing: Discrete Mathematics (Fall 2014)
    </li>
    <li class="about_li">
        Software Engineering and Software Qualities (Fall 2014)
    </li>
    <li class="about_li">
        Introduction to Database Design (Spring 2015)
    </li>
    <li class="about_li">
        Foundations of Computing: Algorithms and Data Structures (Spring 2015)
    </li>
    <li class="about_li">
        Data Mining (Spring 2015)
    </li>
    <li class="about_li">
        Intelligent Systems Programming (Spring 2015)
    </li>
</ul>
<h2>
    List of courses I have taken at Copenhagen Business School:
</h2>
<ul class="about_ul">
    <li class="about_li">
        Bachelor Project
    </li>
    <li class="about_li">
        International Business in Asian Markets
    </li>
    <li class="about_li">
        Japanese (all semesters)
    </li>
    <li class="about_li">
        Managerial Accounting
    </li>
    <li class="about_li">
        Asian Economic Organisation and Competitiveness
    </li>
    <li class="about_li">
        Principles of Corporate Finance
    </li>
    <li class="about_li">
        Regional Economic Integration in Asia
    </li>
    <li class="about_li">
        Intercultural Organisation
    </li>
    <li class="about_li">
        2. Year Project
    </li>
    <li class="about_li">
        Microeconomics
    </li>
    <li class="about_li">
        International Relations
    </li>
    <li class="about_li">
        Marketing
    </li>
    <li class="about_li">
        Asian Societies from a Comparative Perspective
    </li>
    <li class="about_li">
        Business Research Methods
    </li>
    <li class="about_li">
        1. Year Project
    </li>
</ul>
<h2>
    List of courses I have taken at Rikkyo University, College of Business, Tokyo, Japan:
</h2>
<ul class="about_ul">
    <li class="about_li">
        Japanese Grammar
    </li>
    <li class="about_li">
        Japanese Reading
    </li>
    <li class="about_li">
        Japanese Listening and Conversation
    </li>
    <li class="about_li">
        Marketing in Japan
    </li>
    <li class="about_li">
        Marketing Positioning Strategy
    </li>
    <li class="about_li">
        Business Strategy: International Business A and B
    </li>
    <li class="about_li">
        Business Communication
    </li>
    <li class="about_li">
        Business and Society in Japan
    </li>
    <li class="about_li">
        Coporate Social Responsibility: A Japanese Perspective
    </li>
    <li class="about_li">
        Japanese Culture
    </li>
</ul>

{% endblock %}