<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=0.7" charset="UTF-8">
    <title>NSCP Software</title>
</head>
<body>
<div id="main_frame" class="theme_color">
    <div id="header">
        <div id="header_logo_container">
            <img src="{% static 'logo.png' %}">
        </div>
    </div>

    <div id="menu_container">
        <div class="menu_item">
            <a href="">About</a>
        </div>
        <div class="menu_item">
            <a href="">Github</a>
        </div>
        <div class="menu_item">
            <a href="">Projects</a>
        </div>
        <div class="menu_item">
            <a href="">Curriculum Vitae</a>
        </div>
        <div class="menu_item">
            <a href="">Contact</a>
        </div>
    </div>
    <hr class="rule_top_bottom" />
    <div id="content" class="theme_color">
        {% block main_content %}{% endblock %}
        <h1>This is a section</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum finibus turpis, semper aliquet sapien imperdiet sit amet. Sed ac orci et purus elementum fermentum. Praesent vel porta turpis. Proin nec tempor nisi. Donec tellus sapien, lobortis sed turpis vel, blandit consectetur ante. Maecenas blandit blandit consequat. Aliquam et lacinia lorem. Aenean viverra ut neque a lacinia. Suspendisse potenti. Suspendisse molestie odio ac imperdiet imperdiet. Mauris iaculis arcu in sapien fringilla, eget mollis velit malesuada. Etiam ultricies euismod ante a rutrum. Pellentesque cursus, urna vitae varius tincidunt, felis tellus iaculis nunc, vitae molestie odio magna ut massa.</p>
        <h2>This is a subsection</h2>
        <p>Curabitur rhoncus, sapien sit amet tristique elementum, lacus nulla congue est, nec elementum neque purus ut est. Maecenas tristique libero mauris, eget elementum sapien porta eget. Etiam vulputate mi lacus, ac vehicula nibh vulputate at. Aenean in tempor mi. Aliquam vitae molestie nunc. Morbi nec lectus finibus risus egestas fringilla. Duis eu augue arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus sit amet tempus neque. Nunc placerat odio quis massa sodales finibus. Quisque in ante urna. Nunc nulla risus, efficitur nec vulputate sed, hendrerit nec ligula. Nunc dictum efficitur mauris, in tristique ante dapibus at. Praesent sit amet nulla bibendum libero consectetur elementum.</p>
    </div>
    <hr class="rule_top_bottom" />
    <div id="footer" class="theme_color">
        <div id="footer_content">Niels Pedersen @ NSCP Software</div>
    </div>
</div>


</body>
</html>