<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NSCP Software</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylish.css' %}">
    {% block head %}{% endblock %}
</head>
<body>

<div id="main_frame">
    <div id="menu_container">
        <div class="menu_item">
            <a href="{% url 'about' %}">about</a>
        </div>
        <div class="menu_item">
            <a href="{% url 'news' %}">news</a>
        </div>
        <div class="menu_item">
            <a href="{% url 'projects' %}">projects</a>
        </div>
        <div class="menu_item">
            <a href="{% url 'contact' %}">contact</a>
        </div>
        <div class="menu_item">
            |
        </div>
        <div class="menu_item">
            <a href="{% url 'home' %}">home</a>
        </div>
    </div>

    <div id="picture_container">
        {% block picture %}
        <img src="{% static 'bg2.jpg' %}" id="picture_top"/>
        {% endblock %}
    </div>
    {% block arrow %}
    <div id="arrow_container">
        <img src="{% static 'arrow.png' %}" id="arrow"/>
    </div>
    {% endblock %}
    <div id="body_container">
        {% block main_content %}
        <h1 class="menu_bait">
            <a href="{% url 'about' %}">about</a>
        </h1>
        <p class="bait_description">
            I'm an MSc student at the IT-University of Copenhagen where I study software development and technology.
            I primarily program in Java, which is the language we use in most school-related projects, but
            I also have taught myself Python in my spare time. Read more about me!
        </p>
        <h1 class="menu_bait">
            <a href="{% url 'news' %}">news</a>
        </h1>
        <p class="bait_description">
            I post news of everythong that is happening around me, whether it's a new project or some interesting
            news about the state of the world. Consider it a blog, if you will. Read all the news.
        </p>
        <h1 class="menu_bait">
            <a href="{% url 'projects' %}">projects</a>
        </h1>
        <p class="bait_description">
            The site is updated with my humble collection of projects, most of which are on
            github. They range from website development to school-related algorithms and
            projects that stem from personal interests. See them here.
        </p>
        <h1 class="menu_bait">
            <a href="{% url 'contact' %}">contact</a>
        </h1>
        <p class="bait_description">My contact information is alvailable if you are interested
            in establishing communication. There is also a contact form below.
        </p>
    </div>
    {% endblock %}
    <div id="contact_container">
        <div id="form_center">
            <h1 class="menu_bait">Contact me!</h1>
            <form>
                <p class="form_element">
                    <input class="input_text" type="text" name="name"> Name
                </p>
                <p class="form_element">
                    <input class="input_text" type="text" name="email"> Email
                </p>
                <p class="form_element">
                   <textarea class="input_textarea" name="message"></textarea>
                </p>
                <p class="form_element">
                    <input class="input_send" type="submit" value="Send" />
                </p>
            </form>
        </div>
    </div>
    <div id="footer">
        <p>
            niels pedersen - <a href="http://www.nscp.dk">nscp software</a> - <a href="mailto:niels@nscp.dk">niels@nscp.dk</a>
        </p>
    </div>
</div>



</body>
</html>