
<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>NSCP</title>
      {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'freestyle.css' %}">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
  </head>
<body>

  <div id="menu_bar">
    <div id="menu_container">
      <a href="{% url 'home' %}">
        <div class="menu_item">
          NSCP
        </div>
      </a>
      <div class="menu_item" id="menu_special">
        |
      </div>
      <a href="{% url 'about' %}">
        <div class="menu_item">
          ABOUT
        </div>
      </a>
      <a href="{% url 'projects' %}">
        <div class="menu_item">
          PORTFOLIO
        </div>
      </a>
      <a href="{% url 'news' %}">
        <div class="menu_item">
          NEWS
        </div>
      </a>
      <a href="{% url 'contact' %}">
        <div class="menu_item">
          CONTACT
        </div>
      </a>
        <span class="stretch"></span>
    </div>
  </div>
  <div id="main_container">
    <div id="main_content">
        {% block content %}
      <h1>Welcome</h1>
      <h3>To my personal website</h3>
      <p>
          I am <a href="{% static 'cv.pdf' %}">Niels</a> - a student at the IT-University of Copenhagen.
          I am a developer primarily, but I am also a bachelor of business, and a lover of sports, among other things.
      </p>
        <p>
            This site serves as my personal website where I showcase my work and have an opportunity to tell
            who I am and what I do. You can read <a href="{% url 'about' %}">about</a> me, see my programming
            <a href="{% url 'projects' %}">portfolio</a>, read about <a href="{% url 'news' %}">news</a>
            surrounding me, or <a href="{% url 'contact' %}">contact me</a>.
        </p>
        <p>
            Niels
        </p>
        {% endblock %}
    </div>
  </div>
  <div id="footer_bar">
    <div id="footer_content">
      <a href="mailto:niels@nscp.dk">
      niels@nscp.dk
      </a>
    </div>
  </div>

</body>

</html>
